NEXT_PUBLIC_AFFILIATE_ADDRESS=0x278AcA95d89aD007f98EEF1e9B5B9D213C1E5DDE
NEXT_PUBLIC_WALLETCONNECT_ID=2f82a1608c73932cfc64ff51aa38a87b # get your own project ID - https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_BASE_URL=https://azuro-example.org
NEXT_PUBLIC_COMPANY_NAME="iGamezGamble"
NEXT_PUBLIC_PRIVY_APP_ID=cm1p6gkel04f362oq6bxn2nal
AZURO_UNSTABLE_DEV_ENABLED=true
